<div class="container">
  <div class="row row-eq-height">
    <div class="col-xs-4">
      <div class="design-parts">
        <div ng-repeat="type in ['frames']">
          <div class="design-item-list" data-toggle="collapse"
              data-target="#{{ type }}_list">{{ type | upperFirst }}</div>
          <div id="{{ type }}_list" class="collapse">
            <ul>
              <li item-info ng-repeat="item in parts[type]" item="item" clicker="selectPart(part)"></li>
              <li item-none ng-hide="parts[type].length">None available</li>
            </ul>
          </div>
        </div>
        <hr>
        <div ng-repeat="type in ['armors', 'engines', 'modules', 'shields', 'weapons']">
          <div class="design-item-list" data-toggle="collapse"
              data-target="#{{ type }}_list">{{ type | upperFirst }}</div>
          <div id="{{ type }}_list" class="collapse">
            <ul>
              <li item-info ng-repeat="item in parts[type]" item="item" clicker="selectPart(part)"></li>
              <li item-none ng-hide="parts[type].length">None available</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="design-proto">
        <div class="row">
          <div class="col-xs-12">
            <strong>{{ proto.name || 'Prototype'}}</strong>
            ({{ proto.frame.name || 'None'}})
          </div>
        </div>
        <div class="row" ng-repeat="(type, slots) in proto.frame.slots">
          <div class="col-xs-12">
            <strong>{{ type | upperFirst }} Slots:</strong> {{ slots - proto[type].length }}
          </div>
          <div class="col-xs-12" ng-repeat="part in proto[type] track by $index">
            <div class="row">
              <div class="col-xs-1 vcenter">
                <span class="glyphicon glyphicon-minus-sign" ng-click="removePart(part, $index)"></span>
              </div><!--
              --><div class="col-xs-11 vcenter">
                {{ part.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="design-stats">
        <div class="row">
          <div class="col-xs-4" ng-repeat="(key, val) in stats">
            <strong class="stat-name">{{ key | upperFirst }}:</strong>
            <span class="stat-value">{{ val }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
