.design-parts {
  height: 100%;
  overflow: auto;
  border: 1px solid #666;
  color: #fff;
}
.design-parts .design-item-list {
  background: #666;
  margin-bottom: 10px;
}
.design-parts ul {
  padding-left: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.design-parts li[item-info] {
  background: #666;
  border: 1px solid #666;
  margin-bottom: 5px;
}
.design-parts li[item-info] .item-details {
  background: #ccc;
  color: #000;
}
.design-parts li[item-none] {
  background: #ccc;
  color: #000;
}
.design-parts hr {
  margin-top: 0;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}

.design-proto, .design-stats {
  left: 15px;  /* Bootstrap Gutter */
  right: 15px;  /* Bootstrap Gutter */
}

.design-proto {
  position: absolute;
  top: 0;
  bottom: 8em;
  border: 1px solid #666;
}

.design-stats {
  position: absolute;
  bottom: 0;
  height: 7em;
  border: 1px solid #666;
}
