/***** Utility Styles: begin *****/
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/***** Utility Styles: end *****/

.index-child-view {
  height: 100%;
}

.nav-child-view {
  position: absolute;
  top: 72px; /* based on top nav size */
  bottom: 0;
  left: 0;
  right: 0;
}
