/***** Utility Styles: begin *****/
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/***** Utility Styles: end *****/

.index-child-view {
  height: 100%;
}

.navbar {
  z-index: 1;
}

.nav-child-view {
  position: absolute;
  top: 72px; /* based on top nav size */
  bottom: 50px;
  left: 0;
  right: 0;
}

.footer {
  background: #f8f8f8;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .footer {
    border-radius: 4px;
  }
}
