<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#top_nav_collapse" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="splash">Logo</a>
    </div>
    <div nav-collapse id="top_nav_collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a ui-sref="nav.dash">Home</a></li>
        <li><a ui-sref="nav.design">Design</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Avatar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="nav.account">Account</a></li>
            <li><a ui-sref="nav.settings">Settings</a></li>
            <li class="divider" role="separator"></li>
            <li><a ui-sref="splash">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="nav-child-view" ui-view></div>
